

.bg-image {
    background: url(/images/contact.jpg) no-repeat center center/cover; 
}


/* Navbar */

.navbar {
    background: url(/images/crumpled\ white.jpg)no-repeat center center/cover;
    font-weight: 800;
}

.nav-item a:hover {
    color: #ffa700;
}

.navbar .social i {
    color: #303030;
    margin: 5px;
    font-size: 28px;
}

.navbar .social i:hover {
    color: #ffa700;
}
/* Background */

#stream, #footer {
    background: url(/images/crumpled.jpg) no-repeat center center/cover;
}

body {
    font-family: 'Bitter';
    font-size: 18px;
}

h2 {
    font-weight: 600;
}

/* Contact */

input:focus, input:valid {
    border: 1px solid #ffa700 ;
}

textarea:focus, textarea:valid {
    border: 1px solid #ffa700 ;
}

.form-control:focus {
    border-color: #ffa700;
    outline: 0;
    box-shadow: 0 0 0 0.10rem #ffa700;
  }


/* Images & Gallery */

#about img:hover {
    opacity: 0.7;
}

#stream img:hover {
    opacity: 0.7;
}

#gallery1 img:hover {
    opacity: 0.7;
}

#gallery2 img:hover {
    opacity: 0.7;
}

#gallery3 img:hover {
    opacity: 0.7;
}

#gallery4 img:hover {
    opacity: 0.7;
}

#gallery5 img:hover {
    opacity: 0.7;
}

#gallery6 img:hover {
    opacity: 0.7;
}


/* Pagination */

#pagination li a {
    color: black;
}

.pagination a:hover,
.pagination .active a {
    background-color: #ffa700;
    color: #ffa700;
    border-color: #ffa700;
}

 /* Accordion */

.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.10rem #ffa700;
}

/* Media */

@media (max-width: 450px) {
    #slider {
        padding-top: 30%;
    }
}

@media (max-width: 768px) {
    #slider {
        padding-top: 10%;
    }
}