
.bg-image {
    background: url(/images/contact.jpg) no-repeat center center/cover; 
}

/* Navbar */

.navbar, body {
    background: url(/images/crumpled\ white.jpg)no-repeat center center/cover;
    font-weight: 800;
}

.navbar-brand {
    font-size: 24px;
}
.nav-item a:hover {
    color: #ffa700;
}

.navbar .social i {
    color: #303030;
    margin: 5px;
    font-size: 28px;
}

.navbar .social i:hover {
    color: #ffa700;
}

/* Carousel */

.carousel-item h1 {
    font-size: 4.5rem;
}

.carousel-item p {
    font-size: 2rem;
}

.carousel-item .btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
}

.carousel-item .btn i {
    font-size: 22px;
    font-weight: 600;
}

.carousel-caption {
    transform: translateY(100%);
    bottom: 50% !important;
    font-family: 'Kanit';
  }
  
/* Background */

#about, #video, #footer {
    background: url(/images/crumpled.jpg) no-repeat center center/cover;
}

p {
    text-align: justify;
    font-weight: 100;
}

body {
    font-family: 'Bitter';
    font-size: 18px;
}

h2 {
    font-weight: 600;
}

#questions, ul, li{
    font-weight: 100;
}


/* Contact */

input:focus, input:valid {
    border: 1px solid #ffa700 ;
}

textarea:focus, textarea:valid {
    border: 1px solid #ffa700 ;
}

.form-control:focus {
    border-color: #ffa700;
    outline: 0;
    box-shadow: 0 0 0 0.10rem #ffa700;
  }


/* Images & Gallery */

#stream img:hover {
    opacity: 0.7;
}

#gallery img:hover {
    opacity: 0.7;
}

#gallery2 img:hover {
    opacity: 0.7;
}

#gallery3 img:hover {
    opacity: 0.7;
}

#gallery4 img:hover {
    opacity: 0.7;
}

#gallery5 img:hover {
    opacity: 0.7;
}

#gallery6 img:hover {
    opacity: 0.7;
}


/* Pagination */

#pagination li a {
    color: black;
}

.pagination a:hover,
.pagination .active a {
    background-color: #ffa700;
    color: #ffa700;
    border-color: #ffa700;
}

 /* Accordion */

.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.10rem #ffa700;
}

/* Media */

@media (max-width: 768px) {
    #slider {
        padding-top: 10%;
    }
    .img-logo {
        padding-top: 40%;
    }
}

@media (max-width: 450px) {
    #slider {
        padding-top: 30%;
    }
}
